name: 'Cypress Integration Tests'

on: [push]

jobs:
  cypressIntegration:
    services:
      mongo:
        image: mongo
        ports:
          - 27017:27017

    runs-on: ubuntu-latest
    steps:
      # Checkout each repo into sub-directories
      - uses: actions/checkout@v2
        with:
          repository: conveyal/analysis-ui
          ref: 62dfe5b8d8e76a095b8f923b6458b75d3e10c2c8
          path: ui
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          path: r5

      # Build .jar and copy to ./ui directory
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - run: gradle shadowJar -x test
        working-directory: r5
      - run: cp $(ls ./r5/build/libs/*-all.jar | head -n1) ./ui/latest.jar

      # Install / cache dependencies with Cypress to handle caching Cypress binary.
      - uses: actions/setup-node@v2
        with:
          node-version: '12'        
      - uses: cypress-io/github-action@v2
        env:
          NEXT_PUBLIC_BASEMAP_DISABLED: true
          NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN: ${{ secrets.MAPBOX_ACCESS_TOKEN }}
        with:
          build: yarn build
          start: yarn start, yarn start-backend # runs frontend and java server together
          wait-on: 'http://localhost:3000, http://localhost:7070/version'
          wait-on-timeout: 60
          working-directory: ui
